/target
*/.ipynb_checkpoints/
data/
notes/wandb/
notes/*.npz
notes/DeepONet/
wandb/
deeponet/__pycache__/
DeepONet_Trials/
DeepONet_Trials2/
*.db
DeepONet_*/
figs/*.html
*.parquet
checkpoints/
efficient_kan/
